*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #FC98AF;
    display: grid;
    place-items: center;
}

header{
    position: relative;
    width: 80%;
    height: 85%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

.menu-side{
    width: 25%;
    height: 90%;
    background: rgb(66,133,125);
    background: linear-gradient(rgba(66,133,125,1) 6%, rgba(68,136,128,1) 28%, rgba(44,103,98,1) 49%, rgba(13,61,59,1) 98%);
    border-radius: 20px 0 0 0;
    
}

.menu-side h2{
    margin-left: 10px;
    margin-top: 5px;
    color: blanchedalmond;
    margin: 5px 0px 20px 10px;
}

.song-side{
    width: 75%;
    height: 90%;
    background: rgb(252,152,175);
    border-radius: 0 20px 0 0;
    background: linear-gradient(115deg, rgba(252,152,175,1) 17%, rgba(59,124,117,1) 52%, rgba(13,61,59,1) 84%);
    
}

.master-play{
    width: 100%;
    height: 10%;
    background-color: #0D3D3B;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.master-play .wave{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.master-play .wave .wave1{
    width: 3px;
    height: 10px;
    background-color: #FC98AF;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}

.master-play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

.master-play .wave .wave1:nth-child(3){
    height: 8px;
    margin-right: 3.5px;
    animation-delay: .8s;
}

.master-play .active1 .wave1{
    animation: wave .5s linear infinite;
}

.master-play .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}

.master-play .active1 .wave1:nth-child(3){
    animation-delay: .8s;
}


@keyframes  wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

.master-play img{
   width: 33px;
   height: 33px;
}

.master-play h5{
    width: 130px;
    margin-left: 15px;
    color: blanchedalmond;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.master-play h5 .subtitle{
    font-size: 11px;
    color: rgba(255, 235, 205, 0.758);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.master-play .icon{
    font-size: 15px;
    color: blanchedalmond;
    margin: 0px 20px 0px 20px;
    outline: none;
    display: flex;
    align-items: center;
}

.master-play .icon .fa-solid{
    cursor: pointer;
    outline: none;
}

.master-play .icon .shuffle{
    margin-right: 10px;
    font-size: 14px;
    width: 13.8px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.master-play .icon #download-song{
    font-size: 15px;
    margin-left: 10px;
}

.master-play .icon .fa-solid:nth-child(3){
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
    border: 1px solid #0D3D3B;
}

.master-play span{
    color: blanchedalmond;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

.master-play #currentStart{
    margin-left: 20px;
}

.master-play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background-color: #0D3D3B;
    margin: 0px 15px 0px 10px;
}

.master-play .bar .bar2{
    position: absolute; 
    width: 50%;
    height: 100%;
    background-color: #FC98AF;
    top: 0;
    transition: 1s linear;
}

.master-play .bar .dot{
    position: absolute;
    background-color: #FC98AF;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.master-play .bar .dot::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid #FC98AF;
    border-radius: 50%;
    left: -4.75px;
    top: -4.75px;
    box-shadow: inset 0px 0px 3px #FC98AF;
}

.master-play .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 100;
    /* transition: 3s linear; */
    opacity: 0;
}

.master-play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #0D3D3B;
    margin-left: 50px;
}

.master-play .vol .fa-solid{ 
    position: absolute;
    color: blanchedalmond;
    font-size: 15px;
    top: -6px;
    left: -30px;
}

.master-play .vol input{ 
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}

.master-play .vol .vol-bar{ 
    position: absolute;
    background-color: #FC98AF;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.master-play .vol .dot{
    position: absolute;
    background-color: #FC98AF;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.master-play .vol .dot::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 1px solid #FC98AF;
    border-radius: 50%;
    left: -4.75px;
    top: -4.75px;
    box-shadow: inset 0px 0px 3px #FC98AF;
}
 
.playlist{
    margin-left: 10px;
    font-size: 14px;
}

.playlist h4{
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgba(250, 226, 160, 0.589);
    transition: .3s linear;
}

.playlist h4:hover{
    color: rgba(255, 235, 205, 0.858);
}

.playlist h4 span{
    position: relative;
    margin-right: 35px;
}

.playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid rgba(250, 226, 160, 0.589);
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

.playlist h4:hover span::before{
    border: 2px solid rgba(255, 235, 205, 0.858);
}

.playlist h4 .fa-solid{
    display: none;
}

.playlist .active{
    color: blanchedalmond;
}

.playlist .active span{
    display: none;
}

.playlist .active .fa-solid{
    display: flex;
    margin-right: 25px;
}

.menu-song{
    width: 100%;
    height: 300px;
    /* border: 1px solid white; */
    margin-top: 26px;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -0px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -0px inset;
}

.menu-song::-webkit-scrollbar{
    display: none;
 }

.menu-song li{
   list-style-type: none;
   position: relative;
   padding: 5px 0px 5px 20px;
   display: flex;
   align-items: center;
   margin-bottom: 7px;
   cursor: pointer;
   transition: .3s linear;
   color: blanchedalmond; 
}

.menu-song li:hover{
    background-color: rgb(252,152,175);
}

.menu-song li span{
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 235, 205, 0.808);
}   

.menu-song li img{
   width: 32px;
   height: 32px;
   margin-left: 25px;
}

.menu-song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-song li h5 .subtitle{
    font-size: 9px;
    color: rgba(255, 235, 205, 0.758);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-song li .fa-regular{
    position: absolute;
    right: 15px;
}

.song-side{
    z-index: 2;
}

.song-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    /* background-image: url("../resources/backgrounds/bg.png"); */
    z-index: -1;
}

.song-side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-side nav ul{
    display: flex;
}

.song-side nav ul li{
    list-style: none; 
    position: relative;
    font-size: 13px;
    margin-right: 25px;
    cursor: pointer;
    transition: .2s linear;
    color:  rgba(255, 235, 205, 0.658);
    font-weight: 600;
}

.song-side nav ul li:hover{
    color: rgba(255, 235, 205, 0.928);;
}

.song-side nav ul li:nth-child(1){
    color: blanchedalmond; 
}

.song-side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: blanchedalmond; 
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

.song-side nav .search{
    position: relative;
    width: 40%;
    border-radius: 20px;
    color: blanchedalmond; 
}

.song-side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 235, 205, 0.658); 
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.song-side nav .search .fa-solid{
    font-size: 15px;
    padding: 3px 0px 0px 10px;
    color: blanchedalmond; 
}

.song-side nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 5px;
    font-size: 14px;
    color: #0D3D3B; 
    font-weight: 600;
    width: 85%;
}

.song-side .content{
    width: 90%;
    height: 28%;
    margin: auto;
    padding-top: 20px;
}

.song-side .content h1{
   font-size: 25px;
   font-weight: 600;
   color: blanchedalmond; 
}

.song-side .content p{
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 235, 205, 0.658); 
    margin: 5px;
}

.song-side .content .buttons{
    margin-top: 15px;
}

.song-side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #0D3D3B;
    outline: none;
    border-radius: 20px;
    background: blanchedalmond; 
    color: #0D3D3B; 
    cursor: pointer;
    transition: .3s linear;
    font-weight: 600;
}

.song-side .content .buttons button:hover{
   background: none;
   color: blanchedalmond; 
   font-weight: 600;
}

.song-side .popular-song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    color: blanchedalmond; 
}

.song-side .popular-song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-side .popular-song .h4 .fa-solid{
    color: #FC98AF;
    cursor: pointer;
    transition: .3s linear;
}

.song-side .popular-song .h4 .fa-solid:hover{
    color: blanchedalmond; 
}

.song-side .popular-song .pop-song{
    width: 100%;
    height: 140px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}

.song-side .popular-song .pop-song::-webkit-scrollbar{
    display: none;
}

.song-side .popular-song .pop-song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

.song-side .popular-song .pop-song li:hover{
    background-color: #FC98AF; 
}

.song-side .popular-song .pop-song li .img-play{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-side .popular-song .pop-song li .img-play img{
    width: 100%;
    height: 100%;
}

.song-side .popular-song .pop-song li .img-play .fa-regular{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

.song-side .popular-song .pop-song li:hover .img-play .fa-regular{
    opacity: 1;
}

.song-side .popular-song .pop-song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-side .popular-song .pop-song li h5 .subtitle{
    font-size: 9px;
    color: rgba(255, 235, 205, 0.658);  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-side .popular-artists{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    color: blanchedalmond; 
}

.song-side .popular-artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-side .popular-artists .h4 .fa-solid{
    color: #FC98AF;
    cursor: pointer;
    transition: .3s linear;
}

.song-side .popular-artists .h4 .fa-solid:hover{
    color: blanchedalmond; 
}

.song-side .popular-artists .item{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.song-side .popular-artists .item::-webkit-scrollbar{
    display: none;
}

.song-side .popular-artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.song-side .popular-artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



 

